COOKIES=''
XHS_SERVICE_API_KEY='replace-with-a-long-random-value'
XHS_LOGIN_TTL_SECONDS=600
XHS_SESSION_TTL_SECONDS=86400
XHS_SERVICE_IMAGE=spider-xhs-service:local
XHS_SERVICE_BIND_ADDRESS=127.0.0.1
XHS_SERVICE_BIND_PORT=5000
